body {
	background-color: #333
}

#stage {
	height: 400px;
	width: 400px;
	margin: 50px auto 0 auto;
	overflow: hidden;
	position: relative;
}

#stage-shadow {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 10px 10px -10px #eee inset,
				0 -10px 10px -10px #eee inset;
}

#photostrip {
	height: 400px;
	width: 2000px;
	position: relative;
	left: 0;
}

table {
	border: none;
}

td {
	background-color: black;
	width: 400px;
	height: 400px;
	margin: 0;
	padding: 0;
}

img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

/* ARROW BUTTONS */

.arrow {
	width: 20px;
	height: 40px;
	background-color: rgba(200,200,200,.45);
	z-index: 2;
	position: absolute;
	top: 180px;
}

#leftarrow {
	left: 30px;
}

#left-triangle {
	border-right: 10px solid rgba(255,255,255,.55);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: relative;
	top: 5px;
	right: 5px;
}

#rightarrow {
	left: 350px;
}

#right-triangle {
	border-left: 10px solid rgba(255,255,255,.55);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: relative;
	top: 5px;
	left: 5px;
}

.hovered-arrow {
	background-color: rgba(200,200,200,.9)
}

/* QUICK NAV */

#quick-jump {
	display: inline-block;
	margin-top: 10px;
	border: none;
	padding: 4px 0 0 0;
}

.quick-button {
	border-radius: 20px;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 0 2px;
	box-shadow: 1px 1px 1px 1px #eee inset, -1px -1px 1px 1px #555 inset;
	background-color: rgba(255,255,255,.45)
}

.selected-button {
	background-color: rgba(255,255,255,.85);
}

/* UTILITIES */

.centering-wrapper {
	text-align: center;
}

.vertical-align {
	display: inline-block;
	height: 100%;
	width: 0px;
	vertical-align: middle;
}

